# Mac
.DS_Store

# IntelliJ
.idea
npm-debug.log
dcos-website

tmp
tmp/website
1.8/usage/service-discovery/mesos-dns/custom-domain-service-discovery.md~Added menu order to service disc topics
1.8/usage/service-discovery/mesos-dns/custom-domain-service-discovery.md~e63aa3e4c7ad57bb0e26e2e81726ae5bd64e5ca4
1.8/usage/service-discovery/mesos-dns/img/cust-domain.png~Added menu order to service disc topics
1.8/usage/service-discovery/mesos-dns/img/cust-domain.png~e63aa3e4c7ad57bb0e26e2e81726ae5bd64e5ca4
